.pic.recipe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width:250px;
  max-height:250px;
}

.bg-recipe, .bg-main, .main-recipes {
  //background-color:blanchedalmond;
  background-color: greenyellow;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height:auto;
}

.title-recipe, .main-title, .description, .steps {
  text-align: center;
}

.main-recipes, .ingredients {
  text-align:justify;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-recipes {
  width:10%;
}